.action {
    &__icon {
        border: 1px solid #CFCFCF !important;
    }
}

.action__active {
    border: 1px solid #2ecc71 !important;
    background: rgba(0,189,110,.1) !important;

    .action__text {
        color: #27ae60 !important;
    }
}