.footer {
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    background-color: #FFFFFF;
    height: 100%;
}

.icon__tg, .icon__vk, .icon__yt {
    color: #CCC !important;

    transition: color 0.3s ease;
}

.icon {
    &__tg:hover {
        color: #00a8ff !important;
    }
    &__yt:hover {
        color: #e84118 !important;
    }
    &__vk:hover {
        color: #0097e6 !important;
    }
}